<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-logo">
      <router-link to="/admin/employee">
        {{!-- <img src="~/assets/images/logo.png" alt="logo" /> --}}
        <span>Admin</span>
      </router-link>
    </div>

    <div class="sidebar-body">
      <div class="sidebar-menu">
        <ul>
          {{#if adminHome}}
          <li>
            <a class="active" href="/admin">
              <i class="fas fa-home"></i>
              <span>Bosh sahifa</span></a>
          </li>
          {{else}}
          <li>
            <a href="/admin">
              <i class="fas fa-home"></i>
              <span>Bosh sahifa</span></a>
          </li>
          {{/if}}
          {{#if adminUser}}
          <li>
            <a class="active" href="/admin/users">
              <i class="fas fa-user"></i>
              <span>Foydalanuvchilar</span></a>
          </li>
          {{else}}
          <li>
            <a href="/admin/users">
              <i class="fas fa-user"></i>
              <span>Foydalanuvchilar</span></a>
          </li>
          {{/if}}
          {{#if adminSubject}}
          <li>
            <a class="active" href="/admin/object">
              <i class="fas fa-hands"></i>
              <span>Imo-ishoralar</span></a>
          </li>
          {{else}}
          <li>
            <a href="/admin/object">
              <i class="fas fa-hands"></i>
              <span>Imo-ishoralar</span></a>
          </li>
          {{/if}}
          {{#if adminPuzzle}}
          <li>
            <a class="active" href="/admin/test">
              <i class="fas fa-question"></i>
              <span>Savollar</span></a>
          </li>
          {{else}}
          <li>
            <a href="/admin/test">
              <i class="fas fa-question"></i>
              <span>Savollar</span></a>
          </li>
          {{/if}}
          {{#if adminQuestion}}
          <li>
            <a class="active" href="/admin/question">
              <i class="fas fa-question"></i>
              <span>Rasmli savollar</span></a>
          </li>
          {{else}}
          <li>
            <a href="/admin/question">
              <i class="fas fa-question"></i>
              <span>Rasmli savollar</span></a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="sidebar-logout">
        <a href="/">
          <i class="fas fa-site"></i>
          <span>Saytga qaytish</span></a>
      </div>
      <div class="sidebar-logout">
        <a href="/admin/auth/logout">
          <i class="fas fa-sign-out-alt fa-sm fa-fw"></i>
          <span>Tizimdan chiqish</span>
        </a>
      </div>
    </div>
    {{!-- <div class="sidebar-footer">
      <span>Developed by: <a href="#">Online Service Group</a></span>
    </div> --}}
  </div>
  <div class="sidebar-close" style="display: none">
    <i class="fa-regular fa-circle-xmark"></i>
  </div>
</div>